@import '/styles/variables';

.container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
