@import '/styles/variables';

.carouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 600px) {
}
