// Color
$primary-color: #FD6E65;
$secondary-color: #99B940;
$thirdary-color: #99B940;

// Text Color
$primary-text-color: #FD6E65;
$secondary-text-color: #FF9D83;
$thirdary-text-color: #F55856;

// Background Color
$primary-bg-color: #FD6E65;
$secondary-bg-color: #FD6E65;

// Border Color
$primary-border-color: #FD6E65;
$secondary-border-color: #FD6E65;

// Gradient Color
$primary-gradient: linear-gradient(90deg, #F88A69 26.77%, #F4444E 100%);
$secondary-gradient: linear-gradient(90deg, #FF745E 0%, #FF6555 22.48%, #FF4A44 71.35%, #FF403E 100.03%);

// Box Shadow
$primary-box-shadow: inset 0px -8px 15px rgba(0, 0, 0, 0.15);
$secondary-box-shadow: inset 0px -8px 25px rgba(0, 0, 0, 0.2), inset 0px 8px 25px rgba(0, 0, 0, 0.15);
$thirdary-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
